<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
         
        <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
        <props>
        <prop key="/hello.ds">hc</prop>
        </props>
        </property>
        </bean>
        
        <!-- default handler -->
        <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMappping"> 
        <bean name="/hello.ds" class="com.tijo.HelloController"></bean>
         -->
         
         <!--<bean class="org.springframework.web.servlet.handler.ControllerClassNameHandlerMapping">
         <bean class="com.tijo.HelloController">  -->
        
        <bean id="hc" class="com.tijo.ParaController">
        <property name="viewName" value="success"></property>
        </bean>
        
        <!-- <bean id="hc" class="com.tijo.HelloController">
        </bean> -->
        
        <bean id="viewResolver1" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"></property>
        <property name="suffix" value=".jsp"></property>
        </bean>
        
  </beans>      