<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>ServletContext</servlet-name>
  <servlet-class>com.tijo.ServletContextPractice</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ServletContext</servlet-name>
  <url-pattern>/ServletContext</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>Ajay</param-name>
  <param-value>He is very bad boy</param-value>
  </context-param>
  
  
  <context-param>
  <param-name>Kama</param-name>
  <param-value>He is very bad boy</param-value>
  </context-param>
  
  <context-param>
  <param-name>Kama</param-name>
  <param-value>He is </param-value>
  </context-param>
</web-app>